@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #57adde;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #8ecaec;
}

@layer components {
    .button {
        @apply bg-blue text-white rounded px-[5px] hover:underline hover:bg-blue-light;
    }

    .plus-icon {
        @apply w-[25px] block rounded-[50%] text-center bg-blue text-white cursor-pointer hover:bg-blue-light;
    }

    .trash-icon {
        @apply h-[25px] block rounded-[50%] text-center p-[4px] cursor-pointer hover:text-red;
    }

    .drp {
        max-height: 150px;
        overflow-y: auto;
    }

    .tag {
        @apply inline-block rounded-tag px-[8px] mx-[2px] text-white;
    }

    input[type="checkbox"].switch {
        appearance: none;
        width: 20px;
        margin: 2.5px;
        aspect-ratio: 1/1;
        cursor: pointer;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="51" height="26" viewBox="0 0 51 26" fill="none"><path d="M20 25H6C3.23858 25 1 22.7614 1 20V6C1 3.23858 3.23858 1 6 1H20C22.7614 1 25 3.23858 25 6V20C25 22.7614 22.7614 25 20 25Z" fill="%2357ADDE" stroke="black"/><path d="M11 19L5.5 13.5L8 11L11 14L18 7L21 10L11 19Z" fill="white"/><path d="M45 25H31C28.2386 25 26 22.7614 26 20V6C26 3.23858 28.2386 1 31 1H45C47.7614 1 50 3.23858 50 6V20C50 22.7614 47.7614 25 45 25Z" stroke="black"/></svg>');
        background-size: cover;
        background-position: 20px;
        transition: background-position 0.5s;
    }

    input[type="checkbox"].switch:checked {
        background-position: 0px;
    }
}