@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer components {
  .button {
    @apply bg-blue text-white rounded px-[5px] hover:underline hover:bg-blue-light;
  }

  .plus-icon {
    @apply w-[25px] block rounded-[50%] text-center bg-blue text-white cursor-pointer hover:bg-blue-light;
  }

  .trash-icon {
    @apply h-[25px] block rounded-[50%] text-center p-[4px] cursor-pointer hover:text-red;
  }
}